{% extends "base.html" %}

{% block title %} About Us {% endblock title %} About Us 

{% block body %}




<div id="about">
    <br><br>
    <h1 class="title">About us</h1>
    <div class="about_row">
        <div class="about_column" style=" transform: translateY(-60px); font-size: larger;">
            <p><b>Missing the familiar flavors of your mom's cooking or the comfort of your favorite dishes from back home?</b> Don't worry; we've got you covered! Our diverse menu brings you the best of regional and global cuisine, curated with love to remind you of the meals you cherish.</p>
            <br> 
            <p>Welcome to <b>Brainy Bites Cafe</b>, the ultimate culinary destination designed exclusively for IIT students like you. Located right on the bustling campus, we understand the importance of great food that satisfies both your taste buds and your busy academic life.</p>
            <br><br><br>
            <button id="btn1">learn more</button>
        </div>
        <div class="about_column" style="transform: translate(80px,-80px);">
            <img src="https://img.freepik.com/free-photo/chef-making-ok-sign-white-background_1368-2804.jpg?w=2000
" alt="">
        </div>
    </div>
</div>
{% endblock body %}



